* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #d29510;
    padding: 12px;
}

ul {
    list-style-type: none;
}


nav li {
    /* list-style: none; */
    display: inline;
}

nav a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    padding: 12px;
    transition: 0.4s;
}

nav a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

main {
    width: 70vw;
    height: 75vh;
    margin: 0 auto;
}

main h1 {
    margin-top: 12px;
}

p {
    margin-top: 12px;
    line-height: 1.5em;
    text-align: justify;
}

.ativo {
    color: bisque;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    height: 14vh;
    background-color: #000;
    color: #fff;
    align-items: center;
}

footer span {
    color: #d29510;
}

#titulo-form {
    padding: 1.5em;
    text-align: center;
}

/* FORM STYLES */
form {
    width: 450px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 0.4em;
}

.form-group input,
.form-group textarea {
    padding: 0.6em;
    color: #777;
    font-size: 0.8em;
}

input[type="submit"] {
    background-color: #efefef;
    border: none;
    padding: 0.6em 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    border: 2px solid transparent;
    transition: 0.4s;
}

input[type="submit"]:hover {
    color: #d29510;
    border-color: #d29510;
    background-color: transparent;
}
